# Database
POSTGRES_USER=asuser
POSTGRES_PASSWORD=aspass123
POSTGRES_DB=aerotwin_dev
DATABASE_URL=postgresql+asyncpg://asuser:aspass123@db:5432/aerotwin_dev

# Backend
BACKEND_PORT=8000

# Frontend
NEXT_PUBLIC_API_BASE=http://localhost:8000

# pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@aerotwin.local
PGADMIN_DEFAULT_PASSWORD=pgadmin123
